default menu.c32
prompt 0
timeout 1
ontimeout ks-net
menu title PXE Network Boot
menu hidden
serial 0 115200

label ks-net
  menu label ^Network install
  kernel vmlinuz text console=tty0 console=ttyS0,115200n8 utf8 BOOTIF=<%mgmt_ext_mac_address%> consoleblank=0
  append initrd=initrd.img ro inst.ks=cdrom:/ks.cfg inst.repo=<%inst_repo%> ksdevice=<%mgmt_ext_mac_address%> ramdisk_size=100000
