<!doctype html>
<html xmlns="http://www.w3.org/1999/html" ng-app="stackInABoxApp">
<head>
    <meta charset="UTF-8">
    <title>vstack</title>
    <link rel="stylesheet" href="css/metro-bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="scripts/jquery/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/jquery-ui-1.11.2.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/term.js"></script>
    <script src="scripts/main.js"></script>
    <!-- ui widgets -->
    <script src="scripts/metro/metro-progressbar.js"></script>
    <script src="scripts/jquery.nanoscroller.js"></script>

</head>

<body class="metro" ng-controller="StackInABoxCtrl">
<div class="windows" id="maindiv">

    <div class="progress_bar stripes">
        <span id="progress_bar_id"></span>
    </div>

    <div class="progress_bar_text">
        <p id="progress_bar_msg"></p>
    </div>

    <div class="content-page active-page" id="splash">
        <div class="v-magine">
            <img src="images/v-magine-logo-text.svg">
            <p><span style="color:#fff;">v-magine&trade;</span> installs a complete OpenStack&reg; environment on your machine</p>
        </div>
        <button type="submit" formaction="" class="inputButton large" name="cancel-install" id="splash-button">Deploy</button>
        <div class="cbsl-logo">
            <img src="images/cbsl-logo.svg">
        </div>
    </div>

    <div class="content-page" id="intro">
        <div class="v-magine">
            <img src="images/v-magine-logo-text.svg">
            <p><span style="color:#fff;">v-magine&trade;</span> installs a complete OpenStack&copy; environment on your machine</p>
            <button type="submit" formaction="" class="inputButton large" name="deploy" id="deploy">Deploy</button>
        </div>
    </div>

    <div class="content-page" id="page-1">
        <div class="top">
            <div class="header">
                <h1>Welcome</h1>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>

        <div id="wrap">
            <h2>Licence agreement</h2>
            <div id="wrapforscroll" class="nano">
                <div class="content-text" id="agreement"></div>
            </div>

            <div class="row">
                <div class="logo"><img src="images/cbsl-logo.svg"></div>
                <div class="logo"><img src="images/openstack-logo.svg"></div>
                <div class="logo"><img src="images/hyperv-logo.svg"></div>
                <div class="logo"><img src="images/openvswitch-logo.svg"></div>
            </div>

            <div id="gh-issues" class="gh-issues">
                <p><span style="color:#fff;">v-magine™</span> is free and open source (FOSS) software. Official GitHub repository: <a id="opengithuburlbutton1">https://github.com/cloudbase/v-magine</a></p>
            </div>

            <div class="buttons page1" align="auto">
                <button type="submit" formaction="" class="inputButton large" name="exit" id="exit">Exit</button>
                <button type="submit" formaction="" class="inputButton large" name="agree" id="agree">I Accept</button>
            </div>

        </div>
    </div>

    <div class="content-page" id="host-setup">
        <div class="top">
            <div class="header">
                <h1>Hyper-V Host Setup</h1>
                <h3>Please specify your host details, including install location and Hyper-V virtual switch</h3>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>

        <div class="content">
            <form action="#" name="hostconfigform" id="hostconfigform" class="field">
                <div class="widget" id="left-widget">
                    <h2 style="color:#fff;"><i class="fa fa-windows on-left"></i>Host</h2>

                    <label>Host Admin username</label>
                    <input class="field has_tooltip hide_validation" type="text" id="hypervhostusername" ng-model="hypervHostUsername" required
                           data-tooltip="Hyper-V host username with administrative rights, can be a domain or a local user" />
                    <label>Host Admin password</label>

                    <div class="input-container">
                        <div class="icon-awesome"><i class="fa fa-eye on-right" onmouseover="showPassword(hypervhostpassword)" onmouseout="hidePassword(hypervhostpassword)"></i></div>
                        <input class="field has_tooltip hide_validation" type="password" id="hypervhostpassword" ng-model="hypervHostPassword" required
                               autofocus data-tooltip="Please provide the password for the host admin username. Tip: make sure the password does not expire." />
                    </div>
                </div>
                <div class="widget" id="right-widget">
                    <label>Install location</label>
                    <div class="input-container">
                        <div class="icon-awesome"><i class="fa fa-folder-open on-right"></i></div>
                        <input class="field has_tooltip" type="text" id="openstackbasedir" ng-model="openstackBaseDir" required
                               data-tooltip="Local folder where OpenStack instances, images and logs will be located" />
                    </div>
                    <label>External virtual switch</label>
                    <select id="extvswitch" ng-model="extVSwitch" ng-options="vswitch for vswitch in extVSwitches | orderBy" required>
                    </select>
                    <h6 id="createSwitch" style="padding-left:0px; padding-bottom:0px;" class="has_tooltip"
                        data-tooltip="Create a new virtual switch. The switch is needed by the controller virtual machine for accessing external resources">CREATE A NEW VIRTUAL SWITCH<i class="fa fa-arrow-circle-right on-right" style="color: #0099CC"></i></h6>
                </div>

                <div class="buttons" align="auto">
                    <button type="button" formaction="" class="inputButton large back" name="hostconfigback" id="hostconfigback">Back</button>
                    <button type="submit" formaction="" class="inputButton large next" name="hostconfignext" id="hostconfignext">Next<i class="icon-arrow-right-3 on-right"></i></button>
                </div>
            </form>
        </div>

    </div>

    <div class="content-page" id="page-2">
        <div class="top">
            <div class="header">
                <h1>Controller Setup</h1>
                <h3>CentOS controller general and networking configuration</h3>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>

        <div class="content">
            <form action="#" name="controllerconfigform" id="controllerconfigform" class="field">
                <div class="widget" id="controller">
                    <h2><i class="fa fa-desktop on-left"></i>Controller VM Setup</h2>

                    <label>CentOS URL</label>
                    <div class="input-container has_tooltip" data-tooltip="URL of the CentOS Linux mirror. The list contains the fastest mirrors in your area">
                        <select id="centosmirror" ng-model="centosMirror" ng-options="mirror for mirror in centosMirrors" required>
                        </select>
                    </div>

                    <div class="mini-row">
                        <div class="mini-label">
                            <label>Controller and OpenStack password</label>
                            <div class="input-container">
                                <div class="icon-awesome"><i class="fa fa-eye on-right" onmouseover="showPassword(adminpassword)"
                                                             onmouseout="hidePassword(adminpassword)"></i></div>
                                <input class="field has_tooltip hide_validation" type="password" id="adminpassword" ng-model="adminPassword" required autofocus
                                       data-tooltip="Admin password for the controller VM and for the OpenStack deployment" />
                            </div>
                        </div>
                        <div class="mini-label">
                            <label>Repeat password</label>
                            <div class="input-container">
                                <div class="icon-awesome"><i class="fa fa-eye on-right" onmouseover="showPassword(adminpasswordrepeat)"
                                                             onmouseout="hidePassword(adminpasswordrepeat)"></i></div>
                                <input class="field has_tooltip hide_validation" type="password" id="adminpasswordrepeat" required
                                       data-tooltip="Please repeat the controller and OpenStack services password" />
                            </div>
                        </div>
                    </div>


                    <div class="slider-container allocated-memory has_tooltip"
                         data-tooltip="Move the slider to choose the amount of memory assigned to the OpenStack controller virtual machine">
                        <label>
                            Allocated memory: <span id="openstackvmmem" ng-bind="openStackVMMem + 'MB'"></span>
                            <span class="slide-suggestion">
                                Recommended memory: <span ng-bind="suggestedOpenStackVMMem + 'MB'"></span>
                            </span>
                        </label>
                        <div id="openstackvmmemslider"></div>
                    </div>

                    <div class="slider-container allocated-cpus has_tooltip"
                         data-tooltip="Move the slider to choose the number of vCPUs assigned to the OpenStack controller virtual machine">
                        <label>
                            vCPUs: <span id="openstackvmcpu" ng-bind="openStackVMCpu"></span>
                            <span class="slide-suggestion">
                                Recommended vCPUs: <span ng-bind="suggestedOpenStackVMCpu"></span>
                            </span>
                        </label>
                        <div id="openstackvmcpuslider"></div>
                    </div>
                </div>
                <div class="widget" id="networking">
                    <h2><i class="fa fa-wifi on-left"></i> Controller Networking</h2>
                    <div class="mini-row">
                        <div class="col">
                            <div class="radio-buttons">
                                <div class="radio-title">IP Configuration</div>
                                <div class="radio">
                                    <input type="radio" id="option-dhcp" name="ip-type" ng-value="true" ng-model="mgmtExtDhcp"/>
                                    <label for="option-dhcp">DHCP</label>
                                </div>
                                <div class="radio">
                                    <input id="option-manual" type="radio" name="ip-type" checked ng-value="false" ng-model="mgmtExtDhcp"/>
                                    <label for="option-manual">Static</label>
                                </div>
                            </div>
                            <div class="ip-type_group" ng-class="{disabled: mgmtExtDhcp}">
                                <label>IP address / netmask bits (CIDR)</label>
                                <input class="field has_tooltip ip-type hide_validation" ng-disabled="mgmtExtDhcp" type="text" id="ipv4addr" required ng-model="mgmtExtIp"
                                       data-tooltip="Management interface IP in address/netmask CIDR notation" placeholder="192.168.0.1/24" />
                            </div>
                            <div class="ip-type_group" ng-class="{disabled: mgmtExtDhcp}">
                                <label>Gateway</label>
                                <input class="field has_tooltip ip-type hide_validation" ng-disabled="mgmtExtDhcp" type="text" id="net_gateway" required ng-model="mgmtExtGateway"
                                       data-tooltip="Management interface gateway IP address" placeholder="192.168.0.254" />
                            </div>
                            <div class="ip-type_group" ng-class="{disabled: mgmtExtDhcp}">
                                <label>DNS servers</label>
                                <input class="field has_tooltip ip-type hide_validation" ng-disabled="mgmtExtDhcp" type="text" id="dns-servers" required ng-model="mgmtExtNameServers" ng-list
                                       data-tooltip="DNS servers to be assigned to the management interface" placeholder="208.67.222.222" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="radio-buttons">
                                <div class="radio-title">Use proxy?</div>
                                <div class="radio">
                                    <input id='option-proxy-yes' type="radio" checked name="proxy-server" ng-value="true" ng-model="useProxy" />
                                    <label for="option-proxy-yes">Yes</label>
                                </div>
                                <div class="radio">
                                    <input id="option-proxy-no" type="radio" name="proxy-server" ng-value="false" ng-model="useProxy" />
                                    <label for="option-proxy-no">No</label>
                                </div>
                            </div>

                            <div class="proxy-server_group" ng-class="{disabled: !useProxy}">
                                <label>Proxy URL</label>
                                <input class="field has_tooltip hide_validation" ng-disabled="!useProxy" type="text" id="proxy-server" required ng-model="proxyUrl"
                                       data-tooltip="Proxy server URL" placeholder="http://proxy.local:8080" />
                            </div>

                            <div class="proxy-server_group" ng-class="{disabled: !useProxy}">
                                <label>Proxy username</label>
                                <input class="field has_tooltip proxy-server" ng-disabled="!useProxy" type="text" value="" id="proxy-username" ng-model="proxyUsername"
                                       data-tooltip="Proxy server username" />
                            </div>
                            <div class="proxy-server_group" ng-class="{disabled: !useProxy}">
                                <label>Proxy password</label>
                                <div class="input-container">
                                    <div class="icon-awesome proxy-eye"><i class="fa fa-eye" onmouseover="showPassword(proxyPassword)"
                                                                           onmouseout="hidePassword(proxyPassword)"></i></div>
                                    <input class="field has_tooltip proxy-server" ng-disabled="!useProxy" type="password" value="" id="proxyPassword" ng-model="proxyPassword"
                                           data-tooltip="Proxy server password" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="buttons" align="auto">
                    <button type="button" formaction="" class="inputButton large back" name="controllerconfigeula" id="controllerconfigeula">Show EULA</button>
                    <button type="submit" formaction="" class="inputButton large next" name="controllerconfignext" id="controllerconfignext">Next<i style="color:#ffffff;" class="icon-arrow-right-3 on-right"></i></button>
                </div>
            </form>


        </div>

    </div>
    <div class="content-page" id="page-openstack-networking">
        <div class="top">
            <div class="header">
                <h1>Openstack Networking</h1>
                <h3>Configure OpenStack Floating IP (FIP) ranges</h3>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>
        <div class='content'>
            <form action="#" name="openstacknetworkingconfigform" id="openstacknetworkingconfigform" class="field">
                <div class="widget" id="openstack-networking">
                    <h2><i class="fa fa-globe on-left"></i>Floating IP Setup</h2>

                    <label>Floating IPv4 subnet / netmask bits (CIDR)</label>
                    <input class="field has_tooltip hide_validation" type="text" id="subnet" ng-model="fipRange" required
                           data-tooltip="This is the public IP range assigned to OpenStack instances. Make sure it does not conflict with existing IPs on your network" placeholder="192.168.0.0/24" />

                    <label>Floating IP gateway</label>
                    <input class="field has_tooltip hide_validation" type="text" id="gateway" ng-model="fipRangeGateway"
                           data-tooltip="Existing external gateway in the floating IP subnet" placeholder="192.168.0.254" />
                </div>
                <div class="widget">
                    <div class="mini-row">
                        <div class="mini-label">
                            <label>Floating IP range start</label>
                            <input class="field has_tooltip hide_validation" type="text" name="fiprangestart" id="fiprangestart" ng-model="fipRangeStart" required
                                   data-tooltip="First IP address in the floating IP subnet" placeholder="192.168.0.100" />
                        </div>
                        <div class="mini-label">
                            <label>Floating IP range end</label>
                            <input class="field has_tooltip hide_validation" type="text" name="fiprangeend" id="fiprangeend" ng-model="fipRangeEnd" required
                                   data-tooltip="Last IP address in the floating IP subnet" placeholder="192.168.0.200" />
                        </div>
                    </div>
                    <label>DNS servers</label>
                    <input class="field has_tooltip hide_validation" type="text" id="nameservers" ng-model="fipRangeNameServers" ng-list
                           data-tooltip="Existing external DNS server(s) to be assigned to the OpenStack instances. Separate multiple servers with a comma" placeholder="208.67.222.222, 208.67.220.220" />
                </div>
                <div class="buttons" align="auto">
                    <button type="button" formaction="" class="inputButton large back" name="openstacknetworkingconfigback" id="openstacknetworkingconfigback">Back</button>
                    <button type="submit" formaction="" class="inputButton large next" name="openstacknetworkingconfignext" id="openstacknetworkingconfignext">Next<i style="color:#ffffff;" class="icon-arrow-right-3 on-right"></i></button>
                </div>
            </form>
        </div>
    </div>


    <!--
    <div class="content-page" id="page-3">

        <div class="top">
            <h1>Compute nodes</h1>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>

        <div>
            <h2 onclick="document.getElementById('page-3 active').style.opacity= '0.4'; document.getElementById('page-4').id = 'page-4 active'; document.getElementById('page-4 active').style.margin= '-768px 0 0 660px'; document.getElementById('page-4 active').style.width= '380px'; showOne(1); document.getElementById('page-4 active').style.position= 'relative';" style="padding-left:0px; padding-bottom:0px;"><i class="fa fa-plus on-left" style="color: #0099CC"></i>Add node</h2>
            <div class="registered-nodes">
                <h6>Registered compute nodes</h6>
                <div class="compute-nodes">
                    <div class="compute-nodes-header">
                        <ul>
                            <li>Hostname</li>
                            <li>Hypervisor Type</li>
                            <li>Operating System</li>
                        </ul>
                    </div>
                    <div class="compute-nodes-list">
                        <ul>
                            <li>localhost</li>
                            <li>Hyper-V</li>
                            <li>Windows Server 2012 R2</li>
                            <i class="fa fa-pencil on-right"></i>
                            <i class="fa fa-trash-o on-right"></i>
                        </ul>
                        <ul>
                            <li>localhost</li>
                            <li>Hyper-V</li>
                            <li>Windows Server 2012 R2</li>
                            <i class="fa fa-pencil on-right"></i>
                            <i class="fa fa-trash-o on-right"></i>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="buttons" align="auto">
                <button type="submit" formaction="" class="inputButton large" name="nextbtn" id="back-2" onclick="document.getElementById('page-2').id = 'page-2 active'; document.getElementById('page-3 active').id = 'page-3' ;return false">Back</button>
                <button type="submit" formaction="" class="inputButton large" name="nextbtn" id="next-2" onclick="document.getElementById('install-page').id = 'install-page active'; document.getElementById('page-3 active').id = 'page-3' ;return false">Next<i class="icon-arrow-right-3 on-right"></i></button>
            </div>
        </div>
    </div>
    -->

    <!--
        <div class="content-page" id="page-4">
            <div id="wrap-4">
                <h2 onclick="document.getElementById('page-4 active').id = 'page-4';document.getElementById('page-3 active').style.opacity= '1'; document.getElementById('page-3 active').style.backgroundColor= '#201134'; return false" style="padding:0;"><i class="fa fa-arrow-circle-left on-left" style="color: #0099CC"></i>Add a compute node</h2>
                <div class="hypervisor">
                    <h6>Hypervisor Type</h6>

                    <li><button id="current" onclick="showOne(1)">Hyper-V</button></li>
                    <li><button disabled onclick="showOne(2)">KVM</button></li>
                    <li><button disabled onclick="showOne(3)">XEN</button></li>
                    <li><button disabled onclick="showOne(4)">ESXI</button></li>

                </div>

                <div class="hyperv" id="1">
                    <form action="#" name="configform" class="small-field" id="configform">
                        <div class="widget compute-leftside">
                            <label>Hostname/ IP address</label>
                            <input class="small-field" type="text" value="" id="hostname" ng-model="Hostname" placeholder="node1.example.com"/>
                            <label>Username</label>
                            <input class="small-field" type="text" value="" id="username" ng-model="Username" placeholder="EXAMPLE\Administrator"/>
                            <label>Password</label>
                            <input class="small-field" type="password" placeholder="Password" name="adminpassword" id="adminPassword" ng-model="adminPassword" required>
                            <label>External virtual switch</label>
                            <select>
                                <option value="1">external</option>
                                <option value="2" disabled="disabled"></option>
                                <option value="3" disabled="disabled"></option>
                            </select>
                            <h6 id="createSwitch2" onclick="document.getElementById('page-3 active').style.opacity= '0.4'; document.getElementById('page-4-createSwitch').id = 'page-4-createSwitch active'; document.getElementById('page-4-createSwitch active').style.margin= '-768px 0 0 660px'; document.getElementById('page-4-createSwitch active').style.width= '380px'; showOne(1); document.getElementById('page-4-createSwitch active').style.position= 'relative';" style="padding-left:0px; padding-bottom:0px;">CREATE A NEW VIRTUAL SWITCH<i class="fa fa-arrow-circle-right on-right" style="color: #0099CC"></i></h6>
                        </div>

                        <div class="icon-buttons" align="auto">
                            <button type="submit" formaction="" id="submit-configform" class="inputButton-icon large" name="nextbtn"  onclick="document.getElementById('page-4 active').id = 'page-4';document.getElementById('page-3 active').style.opacity= '1'; document.getElementById('page-3 active').style.backgroundColor= '#201134'; return false" style="padding:0px 30px 0px 0px;"><h2><i class="fa fa-check-circle on-left" style="color:#0099CC"></i>Ok</h2></button>
                            <button type="submit" formaction="" class="inputButton-icon large" name="nextbtn"  onclick="document.getElementById('page-4 active').id = 'page-4';document.getElementById('page-3 active').style.opacity= '1'; document.getElementById('page-3 active').style.backgroundColor= '#201134'; return false" style="padding:0px 30px 0px 0px;"><h2><i class="fa fa-times-circle on-left" style="color:#0099CC"></i>Cancel</h2></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    -->

    <div class="content-page dialogbackground" id="createswitch">
        <div class="content-page" id="createswitchdialog">
            <h2 style="color:#fff;"><i class="fa fa-sitemap on-left"></i>Create Virtual Switch</h2>
            <form action="#" name="addextvswitchdialogform" id="addextvswitchdialogform" class="small-field">
                <div class="widget compute-createSwitch">
                    <label>Network interface</label>
                    <select id="hostnics" ng-model="hostNic" placeholder="Select a host nic" ng-options="hostNic.name group by hostNic.type for hostNic in hostNics | orderBy:name" required>
                        <option style="display:none" value="">Please select a host NIC</option>
                    </select>
                    <label>External virtual switch name</label>
                    <input class="small-field" type="text" id="vswitchname" ng-model="newExtVSwitch" required
                           data-tooltip="Name of the new external virtual switch" />
                </div>
                <div id="blocker">
                </div>

                <div class="spinner-wrapper">
                    <!-- <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom" id="spinner" style="color:#0099CC"></i> -->
                    <div id="spinner">
                        <div id="fountainG_1" class="spinner">
                        </div>
                        <div id="fountainG_2" class="spinner">
                        </div>
                        <div id="fountainG_3" class="spinner">
                        </div>
                        <div id="fountainG_4" class="spinner">
                        </div>
                        <div id="fountainG_5" class="spinner">
                        </div>
                        <div id="fountainG_6" class="spinner">
                        </div>
                        <div id="fountainG_7" class="spinner">
                        </div>
                        <div id="fountainG_8" class="spinner">
                        </div>
                    </div>
                </div>

                <div class="icon-buttons" align="auto">
                    <button type="submit" id="createswitchdialogok" formaction="" class="inputButton-icon large" name="createswitchdialogok" style="padding:0px 20px 0px 0px;">
                        <h2 id="createswitchdialogokwrap"><i class="fa fa-check-circle on-left" style="color:#0099CC" id="createswitchdialogokicon"></i>Create</h2></button>


                    <button type="submit" formaction="" class="inputButton-icon large" id="createswitchdialogcancel" name="createswitchdialogcancel"
                            style="padding:0px 20px 0px 0px;"><h2 id="createswitchdialogcancelwrap"><i class="fa fa-times-circle on-left" style="color:#0099CC" id="createswitchdialogcancelicon"></i>Cancel</h2></button>
                </div>
            </form>
        </div>
    </div>

    <div class="content-page" id="review">
        <div class="top">
            <div class="header">
                <h1>Review &emsp;&emsp;&emsp;&emsp;&emsp;</h1>
                <h3>Please review your v-magine installation details</h3>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>

        <div class="content" id="wrap-review">
            <div class="mini-widget" id="host-details">
                <h2 class="headline"><i class="fa fa-windows on-left"></i>Host</h2>
                <h4>Hostname</h4>
                <h2 ng-bind="hypervHostName"></h2>

                <h4>User</h4>
                <h2 ng-bind="hypervHostUsername"></h2>

                <h4>Install location</h4>
                <h2 ng-bind="openstackBaseDir" ng-if="openstackBaseDir.length <= 20"></h2>
                <h2 class="has_tooltip" data-tooltip="{{openstackBaseDir}}" ng-bind="openstackBaseDir.substr(0,20) + '...'" ng-if="openstackBaseDir.length > 20"></h2>

                <h4>External vSwitch</h4>
                <h2 ng-bind="extVSwitch"></h2>
            </div>
            <div class="mini-widget" id="controller-details">
                <div class="controller">
                    <h2 class="headline"><i class="fa fa-desktop on-left"></i>Controller</h2>
                    <h4>Distribution</h4>
                    <h2>CentOS 7 + RDO</h2>

                    <h4>Repository location</h4>
                    <h2 class="has_tooltip" data-tooltip="{{centosMirror}}" ng-bind="centosMirror.substr(0,25) + '...'"></h2>

                    <h4>Allocated vCPUs</h4>
                    <h2 ng-bind="openStackVMCpu"></h2>

                    <h4>Allocated vRAM</h4>
                    <h2 ng-bind="openStackVMMem + 'MB'"></h2>
                </div>
                <!--    <div class="AD">
                        <h2 class="headline"><i class="fa fa-lock on-left"></i>Active Directory</h2>
                        <h4>Active Directory Identity</h4>
                        <h2>No</h2>
                    </div> -->
            </div>
            <div class="mini-widget">
                <div class="controller-networking">
                    <h2 class="headline"></h2>

                    <h4>Proxy Server</h4>
                    <h2 ng-if="useProxy" ng-bind="proxyUrl"></h2>
                    <h2 ng-if="!useProxy">none</h2>

                    <div ng-if="useProxy">
                        <h4>Proxy User</h4>
                        <h2 ng-bind="proxyUsername"></h2>
                    </div>


                    <h4>IP Configuration</h4>
                    <h2 ng-if="mgmtExtDhcp">DHCP</h2>
                    <h2 ng-if="!mgmtExtDhcp" ng-bind="mgmtExtIp"></h2>

                    <div ng-if="!mgmtExtDhcp">
                        <h4>Gateway</h4>
                        <h2 ng-bind="mgmtExtGateway"></h2>

                        <h4>DNS servers</h4>
                        <h2 class="dns-server" ng-repeat="mgmtExtNameServer in mgmtExtNameServers">{{mgmtExtNameServer}}</h2>
                    </div>
                </div>

            </div>
            <div class="mini-widget" id="networking-details">
                <h2 class="headline"><i class="fa fa-wifi on-left"></i>Floating IP</h2>
                <h4>Floating IP subnet</h4>
                <h2 ng-bind="fipRange"></h2>

                <h4>Floating IP range start</h4>
                <h2 ng-bind="fipRangeStart"></h2>

                <h4>Floating IP range end</h4>
                <h2 ng-bind="fipRangeEnd"></h2>

                <h4>Floating IP gateway</h4>
                <h2 ng-bind="fipRangeGateway"></h2>

                <h4>DNS servers</h4>
                <h2 class="dns-server" ng-repeat="fipRangeNameServer in fipRangeNameServers">{{fipRangeNameServer}}</h2>
            </div>

            <!-- <div class="mini-widget" id="nodes-details">
                <h2 class="headline"><i class="fa fa-cubes on-left"></i>Nodes</h2>
                <div class="mini-registered-nodes">
                    <div>
                        <div class="mini-compute-nodes-header">
                            <ul>
                                <li>Hostname</li>
                                <li>Type</li>
                            </ul>
                        </div>
                        <div class="mini-compute-nodes-list">
                            <ul>
                                <li>localhost</li>
                                <li>Hyper-V</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="buttons" align="auto">
                <button type="button" formaction="" class="inputButton large back" name="configbutton" id="configbutton">Back</button>
                <button type="submit" formaction="" class="inputButton large next" name="getopenstackbutton" id="getopenstackbutton">Install<i class="icon-arrow-right-3 on-right"></i></button>
            </div>
        </div>


    </div>

    <div class="content-page" id="install-page">

        <div class="top">
            <div class="header">
                <h1>OpenStack Setup &emsp;&emsp;&emsp;&emsp;&emsp;</h1>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>

        <div class="content" id="log">
            <h2><i class="fa fa-desktop on-left"></i><span id="status">OpenStack Controller Console</span></h2>
            <div id="term"></div>
            <div id="gh-tabs" class="clearfix">
                <div class="gh-link">
                    <p><i class="fa fa-github on-left"></i> <a id="opengithuburlbutton2">Github Repo <i class="fa fa-share-square-o on-left" style="color:#37A8DF;"></i></a></p>

                </div>

                <div class="gh-link">
                    <p><i class="fa fa-bug on-left"></i> <a id="openissuesurlbutton">Bugs and Issues <i class="fa fa-share-square-o on-left" style="color:#37A8DF;"></i></a></p>

                </div>

                <div class="gh-link">
                    <p><i class="fa fa-question-circle on-left"></i> <a id="openquestionsurlbutton">Questions <i class="fa fa-share-square-o on-left" style="color:#37A8DF;"></i></a></p>

                </div>

            </div>
            <div class="buttons" align="auto">
                <button type="submit" formaction="" class="inputButton large" name="cancel-install" id="cancel-install">Cancel</button>
                <button type="button" formaction="" class="inputButton large back" name="reconfig-install" id="reconfig-install">Back<i class="icon-arrow-right-3 on-right"></i></button>
                <button type="submit" formaction="" class="inputButton large next" name="retry-install" id="retry-install">Retry<i class="icon-arrow-right-3 on-right"></i></button>
            </div>
        </div>
    </div>

    <div class="content-page" id="control-panel">

        <div class="top">
            <div class="header">
                <h1>Control Panel</h1>
                <h3 style="clear: both;">Review or redeploy v-magine</h3>
            </div>
            <div class="v-magine-logo">
                <img src="images/v-magine-logo.svg">
            </div>
        </div>
        <div class="content">
            <div id="wrap-control-panel">
                <div class="widget" id="control-panel-nodes">
                    <div class="support-links">
                        <h2 style="color:#fff;"><i class="fa fa-info on-left"></i>Help and Support</h2>
                        <p><a class="opengithuburlbutton">v-magine Github Repo <i class="fa fa-share-square-o on-left"></i></a></p>
                        <p><a class="openissuesurlbutton">Report Bugs and Issues <i class="fa fa-external-link on-left"></i></a></p>
                        <p><a class="openquestionsurlbutton">Questions <i class="fa fa-share-square-o on-left"></i></a></p>
                    </div>
                    <a id="followtwitter"><i class="fa fa-twitter"></i> Follow us on Twitter</a>
                    <div class="control-buttons">
                        <button type="submit" formaction="" class="inputButton large" name="" id="removeopenstack">Remove</button> <br />
                        <button type="submit" formaction="" class="inputButton large" name="" id="redeployopenstack">Reinstall</button>
                    </div>
                </div>
                <div class="widget" id="control-panel-controller">
                    <div class="controller">
                        <h2 style="color:#fff;"><i class="fa fa-desktop on-left"></i>Controller
                            <button type="submit" formaction="" class="inputButton large" name="" id="migrate">Migrate to Azure</button>
                        </h2>
                        <h4>IP Address</h4>
                        <h3 ng-bind="controllerIp" id="controllerip" />
                        <h6 style="cursor: pointer;" id="opencontrollersshbutton">Open SSH Console <i class="fa fa-share-square-o on-left" style="color:#007AFF;font-size: 1.5rem;"></i></h6>

                        <h4>Horizon Web Interface</h4>
                        <a href="#"><h3 id="showhorizonbutton" ng-bind="horizonUrl"></h3></a>
                        <h6 style="cursor: pointer;" ng-if="horizonUrl" id="showhorizonbutton2">Open in external browser <i class="fa fa-share-square-o on-left" style="color:#007AFF;font-size: 1.5rem;"></i></h6>

                        <h4 style="margin-top:30px;">OpenStack Tenant Username</h4>
                        <h3>demo</h3>
                    </div>
                    <div class="registered-nodes">
                        <h2 style="color:#fff;"><i class="fa fa-cube on-left"></i>Compute Nodes
                            <button type="submit" formaction="" class="inputButton large" name="" id="add-edit">Add/Edit Nodes</button>
                        </h2>
                        <div class="compute-nodes-header">
                            <ul class="clearfix">
                                <li class="hostname-col">Hostname</li>
                                <li class="hypervisor-col">Hypervisor Type</li>
                                <li class="os-col">Operating System</li>
                            </ul>
                        </div>
                        <div class="compute-nodes-list">
                            <ul ng-repeat="computeNode in computeNodes" class="clearfix">
                                <li class="hostname-col">{{computeNode.hostname}}</li>
                                <li class="hypervisor-col">{{computeNode.hypervisor_type}}</li>
                                <li class="os-col">{{computeNode.description}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="content-page dialogbackground" id="showDownload">
        <div class="content-page" id="downloadMessage">
            <h2><span id="downloadcaption">Download</span></h2>
            <div id="wrapdownloadmessage" class="nano">
                <div class="content-text" id="downloadmessage">
                </div>
            </div>

            <div class="icon-buttons" align="auto">
                <button type="submit" formaction="" id="showdownloadbutton" class="inputButton-icon large" style="padding:0px 30px 0px 0px;color:#0099CC" ><h2><i class="fa fa fa-cloud-download on-left"></i>Download</h2></button>
                <button type="submit" formaction="" id="downloadmessagelater" class="inputButton-icon large" style="padding:0px 30px 0px 0px;color:#0099CC"><h2><i class="fa fa-times-circle on-left"></i>Later</h2></button>
            </div>
        </div>
    </div>

    <div class="content-page dialogbackground" id="showError">
        <div class="content-page" id="errorMessage">
            <h2><span id="errorcaption">Error</span></h2>
            <div id="wraperrormessage" class="nano">
                <div class="content-text" id="errormessage">
                </div>
            </div>

            <div class="icon-buttons" align="auto">
                <button type="submit" formaction="" id="errormessageok" class="inputButton-icon large" style="padding:0px 30px 0px 0px;color:#0099CC"><h2><i class="fa fa-check-circle on-left"></i>Ok</h2></button>
            </div>
        </div>
    </div>

    <div class="content-page dialogbackground" id="showConfirm">
        <div class="content-page" id="confirmMessage">
            <h2><span id="confirmcaption">Confirm</span></h2>
            <div id="wrapconfirmmessage" class="nano">
                <div class="content-text" id="confirmmessage">
                </div>
            </div>

            <div class="icon-buttons" align="auto">
                <button type="submit" formaction="" id="confirmmessageyes" class="inputButton-icon large" style="padding:0px 30px 0px 0px;color:#0099CC"><h2><i class="fa fa-check-circle on-left"></i>Yes</h2></button>
                <button type="submit" formaction="" id="confirmmessageno" class="inputButton-icon large" style="padding:0px 30px 0px 0px;color:#0099CC"><h2><i class="fa fa-times-circle on-left"></i>No</h2></button>
            </div>
        </div>
    </div>

</div>

</body>
</html>
