body {
    font-family: "Arial", "Verdana";
}


.terminal {
    float: left;
    font-family: "Lucida Console", monospace;
    font-size: 12px;
    border: black solid 5px;
    color: white;
    background: black;
}

.terminal-cursor {
    color: white;
    background: black;
}

#term {
    background-color: black;
    text-align: left;
    color: white;
    margin: 10px;
    height: 500px;
    overflow: auto;
    font-family: "Lucida Console";
}

.stderr {
    color: red;
    display: block
}

.newline {
    display: block
}

.stdout {
    display: block
}

.vt100green {
    color: green;
    display: inline;
}

.vt100yellow {
    color: yellow;
}

.vt100red {
    color: red;
}

#outer {
    margin: 5px;
}

#status {
    text-align: center;
    margin: 10px;
    height: 40px;
}

#extvswitch {
    width: 400px;
}

#hostnics {
    width: 600px;
}

#centosmirror {
    width: 600px;
}

label, input {
    display:block;
}

fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

#openstackvmmem {
    border:0;
    color: black;
    font-weight: bold;
}

#extvswitchreview, #openstackvmmemreview, #fiprangestartreview,
#fiprangeendreview, #centosmirrorreview, #openstackbasedirreview,
#hypervhostusernamereview {
    border:0;
    color: black;
    font-weight: bold;
}

input:required:invalid, input:focus:invalid {
    border-style: solid;
    border-color: red;
}
